<div id="<%= dom_id item_issuance %>">
  <p>
    <strong>Picklist item:</strong>
    <%= item_issuance.picklist_item_id %>
  </p>

  <p>
    <strong>Shipment item:</strong>
    <%= item_issuance.shipment_item_id %>
  </p>

  <p>
    <strong>Inventory item:</strong>
    <%= item_issuance.inventory_item_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= item_issuance.quantity %>
  </p>

</div>
