<p style="color: green"><%= notice %></p>

<%= render @order_type %>

<div>
  <%= link_to "Edit this order type", edit_order_type_path(@order_type) %> |
  <%= link_to "Back to order types", order_types_path %>

  <%= button_to "Destroy this order type", @order_type, method: :delete %>
</div>
