<p style="color: green"><%= notice %></p>

<%= render @contact_channel %>

<div>
  <%= link_to "Edit this contact channel", edit_contact_channel_path(@contact_channel) %> |
  <%= link_to "Back to contact channels", contact_channels_path %>

  <%= button_to "Destroy this contact channel", @contact_channel, method: :delete %>
</div>
