<div id="<%= dom_id shipment_item %>">
  <p>
    <strong>Good:</strong>
    <%= shipment_item.good_id %>
  </p>

  <p>
    <strong>Shipment:</strong>
    <%= shipment_item.shipment_id %>
  </p>

  <p>
    <strong>Feature applicability:</strong>
    <%= shipment_item.feature_applicability_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= shipment_item.quantity %>
  </p>

</div>
