<p style="color: green"><%= notice %></p>

<%= render @goods_order_detail %>

<div>
  <%= link_to "Edit this goods order detail", edit_goods_order_detail_path(@goods_order_detail) %> |
  <%= link_to "Back to goods order details", goods_order_details_path %>

  <%= button_to "Destroy this goods order detail", @goods_order_detail, method: :delete %>
</div>
