<div id="<%= dom_id notification %>">
  <p>
    <strong>Resource:</strong>
    <%= notification.resource %>
  </p>
  <p>
    <strong>Received:</strong>
    <%= notification.received %>
  </p>
  <p>
    <strong>Sent:</strong>
    <%= notification.sent %>
  </p>
  <p>
    <strong>Attempts:</strong>
    <%= notification.attempts %>
  </p>
  <p>
    <strong>Topic:</strong>
    <%= notification.topic %>
  </p>
</div>
