<div id="<%= dom_id inventory_item %>">
  <p>
    <strong>Good:</strong>
    <%= inventory_item.good_id %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= inventory_item.facility_id %>
  </p>

  <p>
    <strong>Container:</strong>
    <%= inventory_item.container_id %>
  </p>

  <p>
    <strong>Lot:</strong>
    <%= inventory_item.lot_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= inventory_item.quantity %>
  </p>

</div>
