<div id="<%= dom_id reorder_guideline %>">
  <p>
    <strong>Good:</strong>
    <%= reorder_guideline.good_id %>
  </p>

  <p>
    <strong>Facility:</strong>
    <%= reorder_guideline.facility_id %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= reorder_guideline.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= reorder_guideline.thru_date %>
  </p>

  <p>
    <strong>Reorder quantity:</strong>
    <%= reorder_guideline.reorder_quantity %>
  </p>

  <p>
    <strong>Reorder level:</strong>
    <%= reorder_guideline.reorder_level %>
  </p>

</div>
