<div id="<%= dom_id product_component %>">
  <p>
    <strong>Good:</strong>
    <%= product_component.good_id %>
  </p>

  <p>
    <strong>Good:</strong>
    <%= product_component.good_id %>
  </p>

  <p>
    <strong>Date from:</strong>
    <%= product_component.date_from %>
  </p>

  <p>
    <strong>Date thru:</strong>
    <%= product_component.date_thru %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product_component.quantity %>
  </p>

</div>
