<p style="color: green"><%= notice %></p>

<%= render @goods_order_type %>

<div>
  <%= link_to "Edit this goods order type", edit_goods_order_type_path(@goods_order_type) %> |
  <%= link_to "Back to goods order types", goods_order_types_path %>

  <%= button_to "Destroy this goods order type", @goods_order_type, method: :delete %>
</div>
