<p style="color: green"><%= notice %></p>

<%= render @attribute_field %>

<div>
  <%= link_to "Edit this attribute field", edit_attribute_field_path(@attribute_field) %> |
  <%= link_to "Back to attribute fields", attribute_fields_path %>

  <%= button_to "Destroy this attribute field", @attribute_field, method: :delete %>
</div>
