<%= form_with(model: identifier) do |form| %>
  <% if identifier.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(identifier.errors.count, "error") %> prohibited this identifier from being saved:</h2>

      <ul>
        <% identifier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :main_identifier, style: "display: block" %>
    <%= form.check_box :main_identifier %>
  </div>

  <div>
    <%= form.label :identifier_type_id, style: "display: block" %>
    <%= form.text_field :identifier_type_id %>
  </div>

  <div>
    <%= form.label :identifiable_id, style: "display: block" %>
    <%= form.text_field :identifiable_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
