<div id="<%= dom_id identifier %>">
  <p>
    <strong>Value:</strong>
    <%= identifier.value %>
  </p>

  <p>
    <strong>Main identifier:</strong>
    <%= identifier.main_identifier %>
  </p>

  <p>
    <strong>Identifier type:</strong>
    <%= identifier.identifier_type_id %>
  </p>

  <p>
    <strong>Identifiable:</strong>
    <%= identifier.identifiable_id %>
  </p>

</div>
