<p style="color: green"><%= notice %></p>

<%= render @identifier %>

<div>
  <%= link_to "Edit this identifier", edit_identifier_path(@identifier) %> |
  <%= link_to "Back to identifiers", identifiers_path %>

  <%= button_to "Destroy this identifier", @identifier, method: :delete %>
</div>
