<p style="color: green"><%= notice %></p>

<%= render @order_item_shipment_item %>

<div>
  <%= link_to "Edit this order item shipment item", edit_order_item_shipment_item_path(@order_item_shipment_item) %> |
  <%= link_to "Back to order item shipment items", order_item_shipment_items_path %>

  <%= button_to "Destroy this order item shipment item", @order_item_shipment_item, method: :delete %>
</div>
