<p style="color: green"><%= notice %></p>

<%= render @shipment_status %>

<div>
  <%= link_to "Edit this shipment status", edit_shipment_status_path(@shipment_status) %> |
  <%= link_to "Back to shipment statuses", shipment_statuses_path %>

  <%= button_to "Destroy this shipment status", @shipment_status, method: :delete %>
</div>
