<%= form_with(model: transportation_type) do |form| %>
  <% if transportation_type.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transportation_type.errors.count, "error") %> prohibited this transportation_type from being saved:</h2>

      <ul>
        <% transportation_type.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :associated_costs, style: "display: block" %>
    <%= form.number_field :associated_costs %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
