<p style="color: green"><%= notice %></p>

<%= render @transportation_type %>

<div>
  <%= link_to "Edit this transportation type", edit_transportation_type_path(@transportation_type) %> |
  <%= link_to "Back to transportation types", transportation_types_path %>

  <%= button_to "Destroy this transportation type", @transportation_type, method: :delete %>
</div>
