<div id="<%= dom_id good %>">
  <p>
    <strong>Description:</strong>
    <%= good.description %>
  </p>

  <p>
    <strong>Introduction date:</strong>
    <%= good.introduction_date %>
  </p>

  <p>
    <strong>Sales discontinuation date:</strong>
    <%= good.sales_discontinuation_date %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= good.party_id %>
  </p>

</div>
