<div id="<%= dom_id order_item %>">
  <p>
    <strong>Order:</strong>
    <%= order_item.order_id %>
  </p>

  <p>
    <strong>Good:</strong>
    <%= order_item.good_id %>
  </p>

  <p>
    <strong>Feature applicability:</strong>
    <%= order_item.feature_applicability_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= order_item.quantity %>
  </p>

  <p>
    <strong>Amount paid per unit:</strong>
    <%= order_item.amount_paid_per_unit %>
  </p>

</div>
