<%= form_with(model: party_contact_mechanism) do |form| %>
  <% if party_contact_mechanism.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(party_contact_mechanism.errors.count, "error") %> prohibited this party_contact_mechanism from being saved:</h2>

      <ul>
        <% party_contact_mechanism.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :contact_mechanism_id, style: "display: block" %>
    <%= form.text_field :contact_mechanism_id %>
  </div>

  <div>
    <%= form.label :party_id, style: "display: block" %>
    <%= form.text_field :party_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
