<%= form_with(model: unit) do |form| %>
  <% if unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :goods_order_id, style: "display: block" %>
    <%= form.text_field :goods_order_id %>
  </div>

  <div>
    <%= form.label :location_id, style: "display: block" %>
    <%= form.text_field :location_id %>
  </div>

  <div>
    <%= form.label :cost_of_unit, style: "display: block" %>
    <%= form.number_field :cost_of_unit %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
