<p style="color: green"><%= notice %></p>

<%= render @packaging_content %>

<div>
  <%= link_to "Edit this packaging content", edit_packaging_content_path(@packaging_content) %> |
  <%= link_to "Back to packaging contents", packaging_contents_path %>

  <%= button_to "Destroy this packaging content", @packaging_content, method: :delete %>
</div>
