<%= form_with(model: identification) do |form| %>
  <% if identification.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(identification.errors.count, "error") %> prohibited this identification from being saved:</h2>

      <ul>
        <% identification.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.text_field :value %>
  </div>

  <div>
    <%= form.label :identification_type_id, style: "display: block" %>
    <%= form.text_field :identification_type_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
