<%= form_with(model: shipment_package) do |form| %>
  <% if shipment_package.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(shipment_package.errors.count, "error") %> prohibited this shipment_package from being saved:</h2>

      <ul>
        <% shipment_package.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :shipment_id, style: "display: block" %>
    <%= form.text_field :shipment_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
