<%= form_with(model: transportation_order) do |form| %>
  <% if transportation_order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transportation_order.errors.count, "error") %> prohibited this transportation_order from being saved:</h2>

      <ul>
        <% transportation_order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :transportation_type_id, style: "display: block" %>
    <%= form.text_field :transportation_type_id %>
  </div>

  <div>
    <%= form.label :person_id, style: "display: block" %>
    <%= form.text_field :person_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
