<div id="<%= dom_id feature_applicability %>">
  <p>
    <strong>Feature:</strong>
    <%= feature_applicability.feature_id %>
  </p>

  <p>
    <strong>Good:</strong>
    <%= feature_applicability.good_id %>
  </p>

  <p>
    <strong>Applicability type:</strong>
    <%= feature_applicability.applicability_type_id %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= feature_applicability.from_date %>
  </p>

  <p>
    <strong>Thru date:</strong>
    <%= feature_applicability.thru_date %>
  </p>

</div>
