<p style="color: green"><%= notice %></p>

<%= render @feature_applicability %>

<div>
  <%= link_to "Edit this feature applicability", edit_feature_applicability_path(@feature_applicability) %> |
  <%= link_to "Back to feature applicabilities", feature_applicabilities_path %>

  <%= button_to "Destroy this feature applicability", @feature_applicability, method: :delete %>
</div>
