<!DOCTYPE html>
<html>
  <head>
    <title>Pymenton3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div>
      <% if Current.user %>
        <%= link_to Current.user.email, edit_password_path %> 
        <%= button_to "Logout", logout_path, method: :delete%>
      <% else %>
        <%= link_to "Log in", new_session_path  %> ||
        <%= link_to "Sign up", new_user_path  %> 
      <% end %>
    </div>
    <div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
